
<div class="container add-game">
    <div class="row">
        <div class="col s12">
            <h2 class="center">Ajouter un jeu</h2>
            <div class="col s12 m7 l7 add-text">
                Si ton jeu est introuvable sur xbox-store-compare.com tu peux
                l'ajouter en te rendant sur le jeux via le <a [href]="'http://store.xbox.com/'">Store Xbox</a>.
                Ensuite il te suffit de te rendre sur le jeu <b>copier le lien</b> <span class="hide-on-small-only">ci-contre</span>
                <span class="hide-on-med-and-up">ci-dessous</span>, cliquer sur
                <b>AJOUTER</b> et <b>patienter 30 secondes</b>
            </div>

            <div class="col s12 m5 l5">
                <em>Lien du jeu :</em>
                <input type="text"
                       placeholder=" exemple : https://www.microsoft.com/fr-FR/store/p/battlefield-1/bwttw53m5b98">
                <button class="btn green-xbox right">Ajouter</button>

            </div>
        </div>
    </div>
</div>
