
<div class="container buy-game">
    <div class="row">
        <div class="col s12">
            <h2 class="center">Comment acheter ?</h2>
            <div class="col s6">
                <h3 class="center">Méthode VPN</h3>
                <p>Permet d'acheter directement le jeu sur le store avec sa carte bancaire
                mais assez complexe à mettre en place pour certains</p>

                <span class="red-text">Désavantage</span>
                <ul>
                    <li>Complexe</li>
                    <li>Frais bancaire (1€)</li>
                    <li>Carte peut-être refusée</li>
                </ul>

                <span class="green-text">Avantage</span>
                <ul>
                    <li>Acheter sur tout les stores</li>
                    <li>Méthode rapide</li>
                </ul>
            </div>
            <div class="col s6">
                <h3 class="center">Méthode carte cadeaux</h3>
                <p>Permet d'acheter le sur un nombre limité de store mais très simple à mettre
                en place !</p>

                <span class="red-text">Désavantage</span>
                <ul>
                    <li>Nombre de store limité</li>
                    <li>Un peu plus longue</li>
                </ul>

                <span class="green-text">Avantage</span>
                <ul>
                    <li>Simple à mettre en place</li>
                    <li>Pas de frais</li>
                </ul>

            </div>
        </div>
    </div>
</div>
