<header class="menu">
    <div class="row top-menu">
        <div class="col s12 m6 l6 push-l3 push-m3 diviser center">
            <div class="col s4 m6 m6 hide-on-small-only">
                <div class="left lang" (click)="translate.use('fr')">FR</div>
                <div class="left lang" (click)="translate.use('en')">EN</div>
                <div (click)="toggleCurrency()" class="left lang currency">{{currencyCurrent}}</div>
            </div>
            <div class="col s12 m6 l6">
                <div class="field" id="searchform">
                    <input name="q" type="text" size="40" placeholder="Fifa.. Call of.." />

                </div>
            </div>
        </div>
    </div>
    <div class="row bot">
        <div class="col s12 m3 l3 hide-on-med-and-down">
            <a routerLink="/">
                <img class="logo" src="/public/img/bag.png" alt="">
            </a>
        </div>
        <div class="col s12 m3 l3 hide-on-large-only nav-menu">
            <img class="logo-mobile" src="/public/img/bag.png" alt="">
        </div>
        <div class="col s12 m12 l6 nav nav-wrapper">

            <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-large-only">
                <i class="material-icons white-text">menu</i>
            </a>

            <ul class="col s11 push-s1 center hide-on-med-and-down large-menu">
                <li class="col s2"><a routerLink="/games/1">{{ 'NAV.GAMES' | translate }}</a></li>
                <li class="col s2"><a routerLink="/">{{ 'NAV.GIFT' | translate }}</a></li>
                <li class="col s2"><a routerLink="/">{{ 'NAV.DEAL' | translate }}</a></li>
                <li class="col s2"><a routerLink="/buy">{{ 'NAV.BUY' | translate }}</a></li>
                <li class="col s2"><a routerLink="/">{{ 'NAV.ADD' | translate }}</a></li>
            </ul>

            <ul class="side-nav black center" id="mobile-demo">
                <li class="green">XBOX STORE COMPARE</li>
                <li><a class="white-text" routerLink="/games/1">{{ 'NAV.GAMES' | translate }}</a></li>
                <li><a class="white-text" routerLink="/">{{ 'NAV.GIFT' | translate }}</a></li>
                <li><a class="white-text" routerLink="/">{{ 'NAV.DEAL' | translate }}</a></li>
                <li><a class="white-text" routerLink="/buy">{{ 'NAV.BUY' | translate }}</a></li>
                <li><a class="white-text" routerLink="/">{{ 'NAV.ADD' | translate }}</a></li>
                <li>
                    <div class="center">
                        <div class="left lang" (click)="translate.use('fr')">FR</div>
                        <div class="left lang" (click)="translate.use('en')">EN</div>
                    </div>
                </li>
                <li>
                    <div class="center">
                        <div class="left lang">$</div>
                        <div class="left lang">€</div>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</header>


<main>
    <router-outlet></router-outlet>
</main>

<footer class="page-footer black white-text center">
    <div class="container">
        <div class="row">
            <div class="col s12 title-footer">
                <img class="logofooter" src="/public/img/logofooter.png" alt="">
                <img class="logotypo"src="/public/img/logotypo.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="col s12">
                    <a target="_blank" [href]="'https://www.facebook.com/Xbox-Store-Compare-585167891608069/'">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" [href]="'mailto:contact@xbox-store-compare.com'">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                    <a target="_blank" [href]="'https://paypal.me/mohamedbenfriha'">
                        <i class="fa fa-paypal" aria-hidden="true"></i>
                    </a>
                </div>
                <hr>
                <span class="center copyright">Copyright © xbox-store-compare.com 2017</span>
            </div>
        </div>
    </div>
</footer>